.header {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 0.01em solid rgb(204, 204, 204);
  transition: 0.6s;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.nav > li {
  margin-left: 15px;
}

a {
  text-decoration: none;
}