.btn {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 200px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  background-color: unset;
}

.btn-outlined {
  border-width: 3px;
  border-style: solid;
  transition: all 0.5s;
}

.btn-outlined:hover {
  color: #fff;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #7274ff;
}

.purple-btn {
  border-color: #7274ff;
  color: #7274ff;
}
