.uuid-live {
  font-size: 0.8rem;
  font-weight: 500;
  color: #FFF;
  margin: 0;
  width: 25%;
  padding-left: 15px;
}

.title-live {
  font-size: 0.9rem;
  color: #FFF;
  width: 20%;
}

.date-live {
  font-size: 0.8rem;
  color: #FFF;
  width: 15%;
}

.create-link-live {
  font-size: 0.8rem;
  color: #FFF;
  width: 11%;
}

.invite-live {
  font-size: 0.8rem;
  color: #FFF;
  width: 15%;
}

.circle-status-live {
  width: 15px;
  height: 15px;
  margin-left: 1rem;
  position: absolute;
  right: 7rem;
  border-radius: 10px;
}
.status-live {
  font-size: 0.8rem;
  color: #FFF;
  width: 10%;
}

.list {
  position: relative;
  top: 200px;
}

.card {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(48, 44, 64);
  padding: 1rem 0px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.22);

}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.create-link-live a {
  color: rgb(6, 255, 213);
  font-weight: 600;
  text-decoration: none;
}

.invite-live a {
  color: rgb(6, 255, 213);
  font-weight: 600;
  text-decoration: none;
}