.uuid-live {
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;
  margin: 0;
  width: 24%;
  padding-left: 1rem;
}

.title-live {
  font-size: 1rem;
  color: #FFF;
  width: 19.500%;
}

.date-live {
  font-size: 1rem;
  color: #FFF;
  width: 16%;
}

.create-link-live {
  font-size: 1rem;
  color: #FFF;
  width: 19.500%;
}

.invite-live {
  font-size: 1rem;
  color: #FFF;
  width: 14%;
}

.circle-status-live  {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  position: relative;
  left: 30px;
}

.status-live {
  font-size: 0.8rem;
  color: #FFF;
  width: 10%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: rgb(48, 44, 64);
  padding: 1rem 0px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.22);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.create-link-live a {
  color: rgb(6, 255, 213);
  font-weight: 600;
  text-decoration: none;
}

.invite-live a {
  color: rgb(6, 255, 213);
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width:768px) { 
  
  .card {
    flex-direction: column;
  }

  .uuid-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
  }

  .uuid-live::before {
    content: attr(data-label) ' ';
    font-weight: 600;
  }

  .title-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .title-live::before {
    content: attr(data-label) ' ';
    font-weight: 600;
  }

  .date-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-live::before {
    content: attr(data-label) ' ';
    font-weight: 600;
  }

  .create-link-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .create-link-live::before {
    content: attr(data-label) ' ';
    font-weight: 600;
  }

  .invite-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .invite-live::before {
    content: attr(data-label) ' ';
    text-align: left;
    width: 100%;
    font-weight: 600;
  }

  .circle-status-live {
    display: block;
    left: 0px;
  }

  .status-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .status-live::before {
    content: attr(data-label) ' ';
    font-size: 1rem;
    font-weight: 600;
  }
}
