.title {
  font-weight: 400;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.constainer-active {
  margin-left: 1rem;
  font-size: 1.6rem;
  background-color: #585380;
  color: #FFF;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

