.video {
  box-sizing: border-box;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.title-video {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 2.2rem;
}

.countViews {
  font-weight: 400;
  font-size: 1.6rem;
  border-bottom: 0.016rem solid rgba(204, 204, 204, 0.986);
}