@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

/*Basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*Global styles*/

html {
  font-size: 10px;
}

body {
  background: var(--bg);
  color: var(--text);
  font-size: 16px;
  transition: all 0.25s linear;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Trigger message validation */
.is-invalid ~ .invalid-feedback {
  display: block;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.form-controll.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-controll.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/*Themes*/
:root {
  --theme-colors0-bg: #FFFFFF;
  --theme-colors1-bg: #302C40;
  --theme-colors0-nav: #F5F6F7;
  --theme-colors1-nav: #302C40;;
  --theme-colors0-icon: rgba(0,0,0,.8);
  --theme-colors1-icon: #FFFFFF;
  --theme-colors0-text: rgba(0,0,0,.8);
  --theme-colors1-text: #FFFFFF;
  --theme-colors0-borders: rgb(204, 204, 204);
  --theme-colors1-borders: rgba(204, 204, 204, 0.986);
  --theme-colors0-table-header: rgb(248, 248, 248);
  --theme-colors1-table-header: rgb(59, 56, 69);
  --theme-colors0-card: #FFFFFF;
  --theme-colors1-card: rgb(48, 44, 64);
  --theme-colors0-effect: rgba(138, 153, 192, 0.068);;
  --theme-colors1-effect: rgba(0, 0, 0, 0.1);

}

.dark {
  --bg: var(--theme-colors1-bg);
  --bg-nav: var(--theme-colors1-nav);
  --text: var(--theme-colors1-text);
  --border-color: var(--theme-colors1-borders);
  --bg-table-header: var(--theme-colors1-table-header);
  --bg-card: var(--theme-colors1-card);
  --bg-icons: var(--theme-colors1-icon);
  --bg-effect: var(--theme-colors1-effect);
}

.light {
  --bg: var(--theme-colors0-bg);
  --bg-nav: var(--theme-colors0-nav);
  --text: var(--theme-colors0-text);
  --border-color: var(--theme-colors0-borders);
  --bg-table-header: var(--theme-colors0-table-header);
  --bg-card: var(--theme-colors0-card);
  --bg-icons: var(--theme-colors0-icon);
  --bg-effect: var(--theme-colors0-effect);
}

