.card {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1100px;
  bottom: 625px;
  max-width: 450px;
  width: 100%;
  height: 750px;
  border: 1px solid #dbdbdb;
  background: rgb(38, 39, 40);
}

.card-header {
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  width: 100%;
  text-align: center;
  background-color: rgb(25, 25, 25);
  border-bottom: 1px solid #dbdbdb;
}

.scroll-message {
  height: 640px;
}

