.container-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 750px;
  border: 1px solid #dbdbdb;
  background: rgb(38, 39, 40);
}

.card-header {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  background-color: rgb(25, 25, 25);
  border-bottom: 1px solid #dbdbdb;
}

.wrapper-message {
  width: 100%;
  max-height: 64rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

