.ReactModal__Content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 70rem;
  width: 100%;
  height: 40rem;
  border-radius: 4px;
  border-color: rgb(59, 56, 69) !important;
  background-color: #2C2839 !important;
}

.ReactModal__Overlay {
  z-index: 1600;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 56, 69, 0.664) !important;
}

.title-modal {
  font-size: 2.6rem;
  font-weight: 800;
  padding-bottom: 3rem;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.error {
  position: relative;
  top: 1.5rem;
}

.mt-30 {
  margin-top: 3rem;
}

/*Media query*/
@media only screen and (max-width:768px) { 
  
  .ReactModal__Content {
    width: 70%;
  }

}
