.container-message {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.name-chat {
  position: relative;
  top: 15px;
  left: 15px;
  font-weight: 500;
}

.text-chat {
  position: relative;
  top: 15px;
  left: 25px;
  font-weight: 300;
}

.circle-avatar {
  position: relative;
  top: 22px;
  left: 5px;
  border-radius: 150px;
  width: 25px;
  height: 25px;
  background-position: center;
}