.container-message {
  width: 100%;
}

.name-chat {
  position: relative;
  top: 15px;
  left: 15px;
  font-weight: 500;
  display: inline-block;
}

.text-chat {
  position: relative;
  padding: 0.5rem;
  top: 15px;
  left: 25px;
  font-weight: 300;
  display: inline-block;

  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.circle-avatar {
  position: relative;
  top: 22px;
  left: 5px;
  border-radius: 150px;
  width: 25px;
  height: 25px;
  background-position: center;
}

.broadcaster {
  border-radius: 4px;
  background-color: #fdd835;
  padding-left: 2px;
  padding-right: 2px;
  color: black;
}