.header {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 0.01em solid rgb(204, 204, 204);
  transition: 0.6s;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.nav > li {
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.options {
  position: relative;
}

span {
  background-color: white;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
  border-radius: 50%;
}

span:nth-child(1) {
  top: 0.45rem;
}

span:nth-child(2) {
  top: 1.05rem;
}

span:nth-child(3) {
  top: 1.65rem;
}
