.container-dashboard {
  width: auto;
  margin-left: 16rem;
  position: relative;
  padding: 0 4rem;
}

.ReactModal__Content {
  position: absolute;
  width: 700px;
  height: 515px;
  margin-top: 150px;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  overflow: auto;
  border-radius: 4px;
  border-color: rgb(59, 56, 69) !important;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2839 !important;
}

.ReactModal__Overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 56, 69, 0.664) !important;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}