.container-select {
  width: 100%;
}

.select {
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-width: 1px;
}

.mt-17 {
  margin-bottom: 1.7rem;
}

.label {
  display: block;
  font-size: 1.2rem;
}

.position-label {
  position: relative;
  text-align: start;
}
