.container-toolbar {
  box-sizing: border-box;
  padding-top: 6.2rem;
  padding-bottom: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 40rem;
  width: 40%;
  height: 100vh;
  overflow: auto;
  background-color: #302C40;
  border-right: 0.01rem solid rgb(72, 72, 72);
  box-shadow: 2px 0px 5px rgb(72, 72, 72);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.container-toolbar.open {
  transform: translateX(0);
}

/*Media query*/
@media only screen and (max-width:430px) { 
  
  .container-toolbar {
    width: 50%;
  }

}

