.ReactModal__Content {
  position: absolute;
  width: 700px;
  height: 370px;
  margin-top: 230px;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  overflow: auto;
  border-radius: 4px;
  border-color: rgb(59, 56, 69) !important;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2839 !important;
}

.ReactModal__Overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 56, 69, 0.664) !important;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  width: 550px;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-width: 1px;
}

.mt-30 {
  margin-top: 30px;
}

.label {
  position: relative;
  top: 30px;
  font-size: 12px;
}