.ReactModal__Content_Device {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 70rem;
  width: 100%;
  height: 40rem;
  border-radius: 4px;
  border-color: rgb(59, 56, 69) !important;
  background-color: #2C2839 !important;
}

.ReactModal__Overlay_Device {
  z-index: 101;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 56, 69, 0.664) !important;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.title-device-modal {
  font-size: 2.3rem;
  font-weight: 800;
  padding-bottom: 3rem;
}

/*Media query*/
@media only screen and (max-width:768px) { 
  
  .ReactModal__Content_Device {
    width: 70%;
    height: 42rem;
  }

}