.ReactModal__Content {
  position: absolute;
  width: 60rem;
  height: 50rem;
  outline: none;
  border-color: rgba(255, 255, 255, 0) !important;
  background: rgba(255, 255, 255, 0) !important;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay {
  z-index: 150000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 56, 69, 0.664) !important;
}

.title-modal {
  font-size: 2.6rem;
  font-weight: 800;
  color: var(--text);
  margin-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.form-new-live {
  max-width: 60rem;
  width: 100%;
  height: 95%;
  padding-bottom: 6.5rem;
  border-radius: 2%;
  background-color: var(--bg);
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-input .btn {
  width: 40%;
  margin-top: 4rem;
}

/*Media query*/
@media only screen and (max-width:768px) { 
  
  .ReactModal__Content {
    width: 70%;
  }

}
